<div class="text-field">
  <%= form.label 'Email' %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label 'Пароль' %>
  <%= form.password_field :password %>
</div>
